@page "/ttransaction"
@page "/ttransaction/{id:int}"
@using CardsCustomers.Models.Services;
@using CardsCustomers.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;
@inject ITransactionService TransactionService
@inject ICustomerService CustomerService
@inject IPointsPerMoneyService PointsPerMoneyService
@inject IDiscountService DiscountService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider


@*<h3>Customer</h3>*@
<button type="submit" class="btn btn-outline-primary"
        @onclick="@(() => BackToTransactions())">
    Back to Transactions
</button>
<br />
@if (Id is null)
{
    <PageTitle>Create a new Transaction </PageTitle>
    <h3 class="text-center">Create a New Transaction</h3>
}
else
{
    <PageTitle>Edit Transaction </PageTitle>
    <h3 class="text-center">Edit Transaction</h3>
}

<EditForm Model="Transaction" OnSubmit="HandleValidSubmit">

    <hr />

    <div class="row mt-3">
        <label for="client" class="col-sm-2 col-form-label">Client</label>
        <div class="col-sm-4">
            <InputSelect id="client" @bind-Value="Transaction.IdCustomer" disabled=@IsInViewMode @oninput="CustomerFromDdw"
                         class="form-select">

                <option value="-1"> -- Select -- </option>

                @foreach (var cust in CustomerList)
                {
                    var customerInfo = @cust.Name + " " + @cust.Surname;
                    <option value="@cust.IdCustomer">@customerInfo</option>
                }

            </InputSelect>
        </div>
    </div>

    <div class="row mt-3">
        <label for="cardId" class="col-sm-2 col-form-label">
            Card Id
        </label>
        <div class="col-sm-4">
            <InputText id="cardId" class="form-control"
                       @bind-Value="Transaction.IdCard" readonly="@true" />
        </div>
    </div>
    <div class="row mt-3">
        <label for="points" class="col-sm-2 col-form-label">
            Points
        </label>
        <div class="col-sm-4">
            <InputNumber id="points" class="form-control" readonly="@true"
                         @bind-Value="Transaction.Points" />
        </div>
    </div>
    <div class="row mt-3">
        <label for="purchase" class="col-sm-2 col-form-label">
            Purchase
        </label>
        <div class="col-sm-4">
            <InputNumber id="purchase" class="form-control" readonly="@IsInViewMode"
                         @bind-Value="Transaction.Purchase" @oninput="CalculatePoints"
                         required="@true" />
        </div>
    </div>

    <div class="row mt-3">
        <label for="discount" class="col-sm-2 col-form-label">
            Discount
        </label>
        <div class="col-sm-4">
            <InputSelect id="discount" @bind-Value="Transaction.Discount" disabled=@IsInViewMode @oninput="DiscountFromDdw" class="form-select">
                <option value="-1"> -- Select -- </option>
                @foreach (var disc in DiscountList)
                {
                    var element = @disc.DiscountName + " - " + @disc.PointsNeeded + " Points Nedded";
                    <option value="@disc.IdDiscount">@element</option>
                }

            </InputSelect>
        </div>

        <label for="points" class="col-sm-2 col-form-label">
            Points of This Purchase
        </label>
        <div class="col-sm-2">
            <InputNumber id="points" class="form-control"
                         @bind-Value="Transaction.PointsFromCurTrans" readonly="@true" />
        </div>
    </div>

    <div class="row mt-3">
        <label for="newvalue" class="col-sm-2 col-form-label">
            New Value To Pay
        </label>
        <div class="col-sm-4">
            <InputNumber id="newvalue" class="form-control"
                         @bind-Value="Transaction.NewValue" readonly="@true" />
        </div>
    </div>

    <div class="row mt-3">
        <label for="balance" class="col-sm-2 col-form-label">
            Points Balance
        </label>
        <div class="col-sm-4">
            <InputNumber id="balance" class="form-control"
                         @bind-Value="Transaction.Balance" readonly="@true" />
        </div>
    </div>
    <div class="col-sm-2 row mt-3"> <button type="submit" class="btn btn-primary" disabled=@IsInViewMode>@btnText</button></div>


</EditForm>

@code {

    [Parameter]
    public int? Id { get; set; }

    string btnText = string.Empty;
    [Inject]
    DbCoreloginContext Context { get; set; }
    Transaction Transaction { get; set; } = new Transaction();
    public IEnumerable<Transaction> AllTransactions { get; set; }
    public List<Customer> CustomerList { get; set; } = new List<Customer>();
    public IEnumerable<Discount> DiscountList { get; set; } = new List<Discount>();
    public bool IsInViewMode { get; set; }
    public Customer customer { get; set; }

    private int IdCustomerValueDdw { get; set; }
    public int CustomerPointsUpdated { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (Id is not null)
            {
                IsInViewMode = true;
                var result = TransactionService.GetTransactionById(Id);
                if (result is not null)
                {
                    Transaction = result;
                }
                else
                {
                    NavigationManager.NavigateTo("/ttransaction");
                }
            }
            else
            {
                IsInViewMode = false;
            }
        }
        catch (Exception)
        {

            throw new InvalidOperationException("An error occured while opening the page!");
        }

    }
    protected async override Task OnInitializedAsync()
    {

        try
        {
            btnText = Id == null ? "Save new Transaction" : "Update Transaction";

            CustomerList = (await TransactionService.GetCustomers()).ToList();


            if (Id is not null)
            {
                DiscountList = DiscountService.GetAllDiscount().ToList();
            }
        }
        catch (Exception)
        {

            throw new InvalidOperationException("An error occured while opening the page!");
        }

    }

    public string FormSubmitMessage { get; set; } = "Form Data Not Submitted";


    async Task HandleValidSubmit()
    {
        try
        {
            if (Id is null)
            {
                var authstate = await _authenticationStateProvider.GetAuthenticationStateAsync();
                var user = authstate.User;
                var name = user.Identity.Name;
                Transaction.IdUserAdmin = CustomerService.GetCustomerByUserName(name.ToString());
                Transaction.Points = Transaction.PointsFromCurTrans.Value + customer.Points;
                TransactionService.CreateTransaction(Transaction);

                //must update customers points
                customer.Points = CustomerPointsUpdated;
                CustomerService.UpdateCustomerWithoutRedirect(customer.IdCustomer, customer);
            }
            else
            {
                TransactionService.UpdateTransaction((int)Id, Transaction);
            }
        }
        catch (Exception)
        {

            throw new InvalidOperationException("An error occured while opening the page!");
        }

    }
    public void BackToTransactions()
    {
        try
        {
            NavigationManager.NavigateTo("/transactions");
        }
        catch (Exception)
        {

            throw new InvalidOperationException("An error occured while opening the page!");
        }

    }

    private void CustomerFromDdw(ChangeEventArgs args)
    {
        try
        {
            if (args.Value is not null)
            {
                if (Convert.ToString(args.Value) != "-1")
                {
                    IdCustomerValueDdw = Convert.ToInt32(args.Value);
                    customer = CustomerService.GetCustomerById(Convert.ToInt32(args.Value));
                    Transaction.IdCard = customer.TimeStampIdCard;
                    Transaction.Points = customer.Points.Value;
                }
                else
                {
                    Transaction.IdCard = null;
                    Transaction.Points = 0;
                }

            }
        }
        catch (Exception)
        {

            throw new InvalidOperationException("An error occured while opening the page!");
        }


    }

    private void CalculatePoints(ChangeEventArgs args)
    {
        try
        {
            if (!string.IsNullOrEmpty(args.Value.ToString()))
            {
                if (Convert.ToString(args.Value) != "-1")
                {
                    int Purchase = Convert.ToInt32(args.Value);
                    decimal? PointsEarnedFromLastPurchase = 0;
                    decimal lastpointssaved = 0;
                    var pointspermoney = PointsPerMoneyService.GetAllPointsPerMoney();
                    Transaction.Balance = 0;
                    Transaction.Discount = -1;
                    Transaction.Points = customer.Points;
                    Transaction.NewValue = 0;
                    if (pointspermoney is null)
                    {
                        throw new InvalidOperationException("An error occured!");
                    }
                    else
                    {
                        lastpointssaved = PointsPerMoneyService.GetLastPointPerMoneySaved();
                        if (lastpointssaved != null)
                        {
                            PointsEarnedFromLastPurchase = lastpointssaved * Purchase;
                            Transaction.PointsFromCurTrans = Convert.ToInt32(PointsEarnedFromLastPurchase);
                            Transaction.Balance = Transaction.PointsFromCurTrans.Value + customer.Points;

                            //Transaction.Points = Transaction.PointsFromCurTrans.Value + customer.Points;
                        }
                        DiscountList = DiscountService.GetAllDiscount().ToList().Where(x => x.PointsNeeded <= Transaction.Balance);

                    }



                }
                else
                {
                    Transaction.IdCard = null;
                    Transaction.Points = 0;
                }

            }
        }
        catch (Exception)
        {

            throw new InvalidOperationException("An error occured while opening the page!");
        }

    }


    public void DiscountFromDdw(ChangeEventArgs args)
    {

        try
        {
            if (args.Value.ToString() != "-1")
            {

                Transaction.PointsFromCurTrans = 0;
                var Iddiscount = Convert.ToString(args.Value);
                Discount discount = DiscountService.GetDiscountById(Convert.ToInt32(Iddiscount));
                //Transaction.Points = customer.Points.Value;
                decimal discountPercent = Convert.ToDecimal(discount.DiscountPercent) / 100;
                Transaction.Discount = Convert.ToInt32(Iddiscount);
                //llogaritja e vleres qe duhet zbritur cmimit
                var cmimiaktual = Transaction.Purchase;
                var skontoezgjedhur = discountPercent;
                var valueToDiscount = cmimiaktual * discountPercent;
                Transaction.NewValue = Transaction.Purchase - Convert.ToDecimal(valueToDiscount);

                int pointdiscountedOfCurTrans = Transaction.PointsFromCurTrans.Value - discount.PointsNeeded;
                if (pointdiscountedOfCurTrans <= 0)
                {
                    Transaction.Balance = 0;
                }
                else
                {
                    Transaction.Balance = customer.Points + pointdiscountedOfCurTrans;
                }

                //must update the customer points
                CustomerPointsUpdated = Transaction.Balance.Value;
            }
            else
            {
                Transaction.NewValue = 0;
                Transaction.Balance = 0;
            }



        }
        catch (Exception)
        {

            throw new InvalidOperationException("An error occured while opening the page!");
        }

    }

}
